<div class="m-5">
    <div class="card">
        <div class="card-body p-0 table-responsive">
            <table class="m-0 table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Capital</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let country of countries">
                        <td>{{country._id}}</td>
                        <td>{{country.name}}</td>
                        <td>{{country.capital}}</td>
                        <td class="d-flex justify-content-center">
                            <button class="ml-1 btn btn-danger" (click)="handleDelete(country._id)">Delete</button>
                            <button class="ml-1 btn btn-primary" (click)="handleUpdate(country)">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
